<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SENTRY_DSN</key>
	<string>https://e15338cd3f8140cea28c9f1abbcfe275@pass-api.proton.me/api/core/v4/reports/sentry/78</string>
	<key>DEFAULT_PATH</key>
	<string></string>
	<key>API_HOST</key>
	<string>authenticator-api.proton.me</string>
	<key>DEFAULT_HOST</key>
	<string>https://authenticator-api.proton.me</string>
	<key>ACCOUNT_HOST</key>
	<string>https://account.proton.me</string>
	<key>CAPTCHA_HOST</key>
	<string>https://authenticator-api.proton.me</string>
	<key>HUMAN_VERIFICATION_HOST</key>
	<string>https://verify.proton.me</string>
	<key>SIGNUP_DOMAIN</key>
	<string>proton.me</string>
</dict>
</plist>
