<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SENTRY_DSN</key>
	<string>https://e15338cd3f8140cea28c9f1abbcfe275@sentry-new.protontech.ch/78</string>
	<key>DEFAULT_PATH</key>
	<string>/api</string>
	<key>API_HOST</key>
	<string>pass-api.&lt;ENV_NAME&gt;.proton.black</string>
	<key>DEFAULT_HOST</key>
	<string>https://&lt;ENV_NAME&gt;.proton.black</string>
	<key>ACCOUNT_HOST</key>
	<string>https://account.&lt;ENV_NAME&gt;.proton.black</string>
	<key>CAPTCHA_HOST</key>
	<string>https://api.proton.black</string>
	<key>HUMAN_VERIFICATION_HOST</key>
	<string>https://verify.proton.black</string>
	<key>SIGNUP_DOMAIN</key>
	<string>&lt;ENV_NAME&gt;.proton.black</string>
</dict>
</plist>
